@media only screen and (max-width: 1400px) {
  div.travail {
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  div.presentation {
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  div.premier {
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  div.pres-images {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  div #SkillBox {
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  div.map {
    display: flex;
    justify-content: center;
  }
}

/* @media only screen and (max-width: 1200px) {
        div.premier {
        display: flex;
        flex-direction: column;
    }
} */

@media only screen and (max-width: 900px) {
  .Nav-bar {
    width: 100%;
  }

  div {
    grid-template-columns: 1fr;
    grid-row: auto;
    display: flex;
    flex-direction: column;
  }
  footer {
    width: auto;
    display: table-column;
  }
}

@media only screen and (max-width: 600px) {
  div.presentation img {
    width: 300px;
    height: 250px;
  }
  div#SkillBox {
    width: 300px;
  }
  div.over {
    width: 300px;
    height: 250px;
    font-size: 0px;
  }
  div.premier img {
    width: 300px;
    height: 250px;
  }
  div.pres-images img {
    width: 300px;
    height: 250px;
  }
}
/*  fin du media screend */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #cfd1d1;
}

.Nav-bar {
  top: 0;
  background-color: rgba(73, 73, 72, 0.842);
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
}

.Nav-bar nav ul {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 400px;
  justify-content: space-between;
}

.Nav-bar nav ul li {
  list-style: none;
  box-sizing: border-box;
  line-height: 28px;
}

.Nav-bar nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: ease-in-out 300ms;
  display: flex;
}

.Nav-bar nav ul li:hover {
  background-color: rgba(128, 128, 125, 0.651);
  border-radius: 15px;
}

.premier {
  display: flex;
  flex-direction: row-reverse;
  color: blanchedalmond;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: max-content;
}
.premier p {
  padding: 10px;
  margin-left: 5px;
  margin-top: 10%;
}
.premier img {
  width: 480px;
  height: 400px;
}

.pres-images {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgba(204, 186, 162, 0.644);
  text-decoration: none;
  width: max-content;
}
.pres-images img {
  width: 430px;
  height: 400px;
}

.over {
  width: 560px;
  height: 488px;
  background-color: rgba(204, 186, 162, 0.644);
  color: black;
  font-size: 25px;
}

.pres-images p {
  margin-left: 05%;
  margin-top: 13%;
  font-size: x-large;
}

.pres {
  text-align: center;
  font-size: 35px;

  color: #ffffff;
}

.pres p {
  text-align: center;
  font-size: 42px;
  color: #ffffff;
  text-decoration: none;
}

.presentation {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.presentation img {
  width: 600px;
  height: 550px;
}

.portfolio h1 {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.travail {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 1400px;
  justify-content: space-evenly;
}

.travail img {
  margin-left: 10px;
  width: 350px;
  height: 310px;
}

.travail img {
  background-color: blue;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.travail img:hover {
  opacity: 0.5;
}

/* .diagram{
  text-align: center;
    
 margin-left: 350px;
} */

.map {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-top: 60px;
}
.map iframe {
  margin-left: auto;
  margin-right: auto;
}

.message {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}
.message input {
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
.message textarea {
  margin-top: 10px;
  width: 400px;
}

.code {
  margin-top: 5%;
  margin-left: 15%;
}

.Btn {
  background-color: #ffffff;
  width: 180px;
  height: 45px;
  border-radius: 8px;
  background: #787c80;
  border: none;
  outline: none;
  color: #fff8f8;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(48, 48, 48, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(44, 43, 43, 0);
  text-decoration: none;
}
.Btn:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.Btn:hover {
  background-color: #636464;
}

#SkillBox h1 {
  text-align: center;
}

/* #SkillBox{
    width: 200px;
    height: 210px;
} */

#SkillBox {
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  width: 510px;
  height: auto;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  padding: 10px;
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
}

.SkillBar {
  width: 90%;
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  margin: 20px auto;
}
#Skill-HTML {
  width: 80%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: relative;
  background-color: #ea8564;
  border-radius: 20px;
}
@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
#Skill-CSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 70%;
  height: 50px;
  position: relative;
  background-color: #55a69f;
  border-radius: 20px;
}
@keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-o-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
#Skill-jQuery {
  animation: Animate-jQuery 5s;
  -webkit-animation: Animate-jQuery 5s;
  -moz-animation: Animate-jQuery 5s;
  -o-animation: Animate-jQuery 5s;
  width: 40%;
  height: 50px;
  position: relative;
  background-color: #99856d;
  border-radius: 20px;
}
@keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-webkit-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-moz-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-o-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
#Skill-JS {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 65%;
  height: 50px;
  position: relative;
  background-color: #c44e45;
  border-radius: 20px;
}
@keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-webkit-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-moz-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-o-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
#Skill-XML {
  animation: Animate-XML 4s;
  -webkit-animation: Animate-XML 4s;
  -moz-animation: Animate-XML 4s;
  -o-animation: Animate-XML 4s;
  width: 40%;
  height: 50px;
  position: relative;
  background-color: #5aa669;
  border-radius: 20px;
}
@keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-webkit-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-moz-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
@-o-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 40%;
  }
}
#Skill-C {
  animation: Animate-C 4s;
  -webkit-animation: Animate-C 4s;
  -moz-animation: Animate-C 4s;
  -o-animation: Animate-C 4s;
  width: 30%;
  height: 50px;
  position: relative;
  background-color: #970cc1;
  border-radius: 20px;
}
@keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-webkit-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-moz-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-o-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
#Skill-JAVA {
  animation: Animate-JAVA 4s;
  -webkit-animation: Animate-JAVA 4s;
  -moz-animation: Animate-JAVA 4s;
  -o-animation: Animate-JAVA 4s;
  width: 25%;
  height: 50px;
  position: relative;
  background-color: #8e930c;
  border-radius: 20px;
}
@keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 25%;
  }
}
@-webkit-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 25%;
  }
}
@-moz-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 25%;
  }
}
@-o-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 25%;
  }
}
#Skill-PHP {
  animation: Animate-PHP 4s;
  -webkit-animation: Animate-PHP 4s;
  -moz-animation: Animate-PHP 4s;
  -o-animation: Animate-PHP 4s;
  width: 50%;
  height: 50px;
  position: relative;
  background-color: #5a69a6;
  border-radius: 20px;
}
@keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 50%;
  }
}
@-webkit-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 50%;
  }
}
@-moz-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 50%;
  }
}
@-o-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 50%;
  }
}
#Skill-SQL {
  animation: Animate-SQL 4s;
  -webkit-animation: Animate-SQL 4s;
  -moz-animation: Animate-SQL 4s;
  -o-animation: Animate-SQL 4s;
  width: 80%;
  height: 50px;
  position: relative;
  background-color: #23b1db;
  border-radius: 20px;
}
@keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
#Skill-PYTHON {
  animation: Animate-PYTHON 4s;
  -webkit-animation: Animate-PYTHON 4s;
  -moz-animation: Animate-PYTHON 4s;
  -o-animation: Animate-PYTHON 4s;
  width: 35%;
  height: 50px;
  position: relative;
  background-color: #f8a51e;
  border-radius: 20px;
}
@keyframes Animate-PYTHON {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-webkit-keyframes Animate-PYTHON {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-moz-keyframes Animate-PYTHON {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-o-keyframes Animate-PYTHON {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
.Skill-Area {
  z-index: 1;
  float: left;
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-family: Lato-Regular, sans-serif;
  font-size: 18px;
}
.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  font-family: Lato-Regular, sans-serif;
  font-size: 18px;
}
footer {
  background-color: rgb(0, 0, 0);
  height: 45px;
  position: absolute;
  margin-top: 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* footer div img {
  width: 150px;
  height: 125px;
  margin-left: 600px;
} */
footer p {
  margin-left: auto;
  color: blanchedalmond;
  /* margin-top: -20px; */
  position: relative;
  text-align: center;
}
